# app path
DOCKER_APP_PATH=./app/
# volume storage
DOCKER_STORAGE_PATH=./database/

# uid and gid
DOCKER_USER_ID=1000
DOCKER_GROUP_ID=1000

#database settings
DOCKER_DB_USER=${DOCKER_DB_USER}
DOCKER_DB_PASSWORD=${DOCKER_DB_PASSWORD}
DOCKER_DB_NAME=${DOCKER_DB_NAME}
