{% extends 'base.html.twig' %}

{% block title %}Edit FriendsGroup{% endblock %}

{% block body %}
    <h1>Edit FriendsGroup</h1>

    {{ include('friends_group/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('friends_group_index') }}">back to list</a>

    {{ include('friends_group/_delete_form.html.twig') }}
{% endblock %}
