{% extends 'base.html.twig' %}

{% block title %}New FriendsGroup{% endblock %}

{% block body %}
    <h1>Create new FriendsGroup</h1>

    {{ include('friends_group/_form.html.twig') }}

    <a href="{{ path('friends_group_index') }}">back to list</a>
{% endblock %}
